.productCard {
  width: 10rem;
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
}

.brandName {
  font-weight: 800;
}

.description {
  color: var(--small-font-color);
  font-size: var(--font-size-small);
}

.price {
  font-weight: 800;
  font-size: 0.8rem;
  margin-top: 0.4rem;
}

.mrp {
  color: var(--small-font-color);
  font-size: var(--font-size-small);
  text-decoration: line-through;
}

.discountPercent {
  color: #e3963e;
  font-size: var(--font-size-small);
}
