.sidebar {
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
  width: 200rem;
}

.resetBtn {
  background-color: var(--secondary-color);
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--primary-color);
}

.resetBtn:hover {
  cursor: pointer;
}
