@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  --primary-color: white;
  --secondary-color: #1877f2;
  --text-color: black;
  --search-color: whitesmoke;
  --small-font-color: gray;
  --border-color: lightgray;
  --price-off-color: orange;
  --font-size-large: 2rem;
  --font-size-medium: 0.9rem;
  --font-size-small: 0.7rem;
}

.content {
  display: flex;
  border-top: 1px solid var(--border-color);
}

.sort {
  width: 100%;
}
