@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  --primary-color: white;
  --secondary-color: #1877f2;
  --text-color: black;
  --search-color: whitesmoke;
  --border-color: gray;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
